%%-*- mode: erlang -*-
{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{erl_opts,            [ debug_info
                      , warnings_as_errors
                      , {i, "include"}
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{eunit_opts,          [{report, {eunit_surefire, [{dir,"."}]}}]}.
{deps,                []}.

%%% Local Variables:
%%% erlang-indent-level: 2
%%% fill-column: 80
%%% comment-column: 76
%%% End:
